{% extends 'admin-masterPage.html' %}

{% block title %}
Update Aquagaurd_parts
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 h1 text-center">
            <span>Update Aquagaurd parts</span>
        </div>
        <div class="col-sm-12">
            <table class="table table-striped">
                <tr>
                    <th>Brands</th>
                    <th>Part_Name</th>
                    <th>Image</th>
                    <th>Quality</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Modify</th>

                </tr>
                {% if data %}
                {% for name in data %}
                <tr>
                    <td>{{ name.brand_id }}</td>
                    <td>{{ name.name}}</td>
                    <td>{{name.image}}</td>
                    <td>{{name.quality}}</td>
                    <td>{{name.price}}</td>
                    <td>{{name.desc}}</td>
                    <td><a href="#" class="btn btn-danger">Delete</a>
                    <a href="#" class="btn btn-warning">Edit</a></td>
                </tr>
            {% endfor %}
            {% endif %}
            </table>
        </div>
    </div>
</div>

{% endblock %}