{% extends 'admin-masterPage.html' %}
{% block title %}
Update Top Brand Image
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 h1 text-center">
            <span>Update Top Brand Image</span>
        </div>
        <div class="col-sm-12">
            <table class="table table-striped">
                <tr>
                    <th>Image</th>
                    <th>  Modify</th>
                </tr>
                {% if data %}
            {% for i in data %}
                <tr>
                <td>{{ i.image }}</td>
                    <td><a href="{% url 'backend_panel:delete_top_brand' %}?id={{i.id}}" class="btn btn-danger">Delete</a>
                        <a href="{% url 'backend_panel:edit_top_brand' %}?id={{i.id}}" class="btn btn-warning">Edit</a></td>
                </tr>
            {% endfor %}
            {% endif %}
</table>
        </div>
    </div>
</div>
{% endblock %}