{% extends 'admin-masterPage.html' %}
{% block title %}
Admin Index
{% endblock %}
{% block content %}
<!--four-grids here-->
		<div class="four-grids">
					<div class="col-md-3 four-grid">
						<div class="four-agileits">
							<div class="icon">
								<i class="glyphicon glyphicon-user" aria-hidden="true"></i>
							</div>
							<div class="four-text">
								<h3>User</h3>
								<h4>{{ user_count }}</h4>

							</div>

						</div>
					</div>
					<div class="col-md-3 four-grid">
						<div class="four-agileinfo">
							<div class="icon">
								<i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i>
							</div>
							<div class="four-text">
								<h3>Brands</h3>
								<h4>{{ brand_data }}</h4>

							</div>

						</div>
					</div>
					<div class="col-md-3 four-grid">
						<div class="four-w3ls">
							<div class="icon">
								<i class="glyphicon glyphicon-folder-open" aria-hidden="true"></i>
							</div>
							<div class="four-text">
								<h3>Modals</h3>
								<h4>{{ model_data }}</h4>

							</div>

						</div>
					</div>
					<div class="col-md-3 four-grid">
						<div class="four-wthree">
							<div class="icon">
								<i class="glyphicon glyphicon-briefcase" aria-hidden="true"></i>
							</div>
							<div class="four-text">
								<h3>Service Type</h3>
								<h4>{{ service_data }}</h4>

							</div>

						</div>
					</div>
					<div class="clearfix"></div>
				</div>
<!--//four-grids here-->
<!--photoday-section-->


                    	<div class="col-sm-4 wthree-crd">
                            <div class="card">
                                <div class="card-body">
                                    <div class="widget widget-report-table">
                                        <header class="widget-header m-b-15">
                                        </header>

                                        <div class="row m-0 md-bg-grey-100 p-l-20 p-r-20">
                                            <div class="col-md-6 col-sm-6 col-xs-6 w3layouts-aug">
                                                <h2>USERS</h2>

                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 ">
                                                <h3 class="text-right c-teal f-300 m-t-20">Report</h3>
                                            </div>
                                        </div>

                                        <div class="widget-body p-15" style="overflow:scroll;height:519px;">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr style= "overflow: scroll">
                                                        <th>Name</th>
                                                        <th>Email</th>
                                                        <th>Mobile no.</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if data %}
                                                    {% for i in data %}
                                                    <tr>
                                                        <td>{{ i.name }}</td>
                                                        <td>{{ i.email }}</td>
                                                        <td>{{ i.mobile }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 w3-agileits-crd">

                            <div class="card card-contact-list">
							<div class="agileinfo-cdr">
                                <div class="card-header">
                                    <h3>Models</h3>
                                </div>
                                <div class="card-body p-b-20" style="overflow:scroll;height:519px;">
                                    {% if m_data %}
                                    {% for j in m_data %}
                                    <div class="list-group" >
                                        <a class="list-group-item media" href="">
                                             <div class="pull-left">
                                                <img class="lg-item-img" src="../media/{{ j.image }}" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="pull-left">
                                                	<div class="lg-item-heading">{{ j.name }}</div>
                                                	<small class="lg-item-text">{{ j.price }}</small>
                                                </div>
                                                {% if b_data %}
                                                {% for k in b_data %}
                                                {% if j.brand_id == k.id %}

                                                <div class="pull-right">
                                                	<div class="lg-item-heading">{{ k.brands }}</div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                                {% endif %}
                                            </div>
                                        </a>
                                   	</div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
							</div>
                      	</div>

                        <div class="col-sm-4 w3-agileits-crd">

                            <div class="card card-contact-list">
							<div class="agileinfo-cdr">
                                <div class="card-header">
                                    <h3>Parts</h3>
                                </div>
                                <div class="card-body p-b-20" style="overflow:scroll;height:519px;">
                                    {% if p_data %}
                                    {% for j in p_data %}
                                    <div class="list-group">
                                        <a class="list-group-item media" href="">
                                             <div class="pull-left">
                                                <img class="lg-item-img" src="../media/{{ j.image }}" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="pull-left">
                                                	<div class="lg-item-heading">{{ j.name }}</div>
                                                	<small class="lg-item-text">{{ j.price }}</small>
                                                </div>
                                                {% if b_data %}
                                                {% for k in b_data %}
                                                {% if j.company_id == k.id %}

                                                <div class="pull-right">
                                                	<div class="lg-item-heading">{{ k.brands }}</div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                                {% endif %}
                                            </div>
                                        </a>
                                   	</div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
							</div>
                      	</div>








	<!--//photoday-section-->
	<!--w3-agileits-pane-->

	  <!--//w3-agileits-pane-->
{% endblock %}



