{% extends 'masterPage.html' %}
{% block title %}
N.A Alkaline Water Purifier
{% endblock %}

{% block content %}
<!-- banner -->
<div class="banner">
	<div class="container">
		<h3>N.A Water Purifier, <span>Special Offers</span></h3>
	</div>
</div>
<!-- banner-bottom -->
<div class="banner-bottom">
	<div class="container">
		<div class="col-md-5 wthree_banner_bottom_left">
			<div class="video-img">
				<a class="play-icon popup-with-zoom-anim" href="#small-dialog">
					<span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
				</a>
			</div>
			<!-- pop-up-box -->
			<script src="/assets/js/jquery.magnific-popup.js" type="text/javascript"></script>
			<!--//pop-up-box -->
			<div id="small-dialog" class="mfp-hide">
				<iframe src="https://www.youtube.com/embed/QKpRn9T4D_s"></iframe>
			</div>
			<script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});

						});
					</script>
		</div>
		<div class="col-md-7 wthree_banner_bottom_right">
			<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
				<ul id="myTab" class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home">Aquaguard</a></li>
					<li role="presentation"><a href="#audio" role="tab" id="audio-tab" data-toggle="tab" aria-controls="audio">AO Smith</a></li>
					<li role="presentation"><a href="#video" role="tab" id="video-tab" data-toggle="tab" aria-controls="video">Kent</a></li>
					<li role="presentation"><a href="#tv" role="tab" id="tv-tab" data-toggle="tab" aria-controls="tv">Blue Star</a></li>
					<li role="presentation"><a href="#kitchen" role="tab" id="kitchen-tab" data-toggle="tab" aria-controls="kitchen">Livepure</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
						<div class="agile_ecommerce_tabs">
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									{% if slide %}
						{% for l in slide %}
						<img src="../media/{{ l.image }}" alt=" " height="190px;" width="200">
						{% endfor %}
						{% endif %}

									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="{% url 'backend_panel:brands_detail' %}?id=5">Model 1</a></h5>
							</div>
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
								{% if slide %}
						{% for l in slide %}
						<img src="../media/{{ l.image }}" alt=" " height="190px;" width="200">
						{% endfor %}
						{% endif %}
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="{% url 'backend_panel:brands_detail' %}?id=5">Model 2</a></h5>
							</div>
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									{% if slide %}
						{% for l in slide %}
						<img src="../media/{{ l.image }}" alt=" " height="190px;" width="200">
						{% endfor %}
						{% endif %}
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="{% url 'backend_panel:brands_detail' %}?id=5">Model 3</a></h5>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="audio" aria-labelledby="audio-tab">
						<div class="agile_ecommerce_tabs">
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									{% if smith %}
						{% for l in smith %}
						<img src="../media/{{ l.image }}" alt=" " height="190px;" width="200">
						{% endfor %}
						{% endif %}
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="{% url 'backend_panel:brands_detail' %}?id=4">Model 1</a></h5>


							</div>
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									{% if smith %}
						{% for l in smith %}
						<img src="../media/{{ l.image }}" alt=" " height="190px;" width="200">
						{% endfor %}
						{% endif %}
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="{% url 'backend_panel:brands_detail' %}?id=4">Model 2</a></h5>

							</div>
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									{% if smith %}
						{% for l in smith %}
						<img src="../media/{{ l.image }}" alt=" " height="190px;" width="200">
						{% endfor %}
						{% endif %}
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="{% url 'backend_panel:brands_detail' %}?id=4">Model 3</a></h5>

							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="video" aria-labelledby="video-tab">
						<div class="agile_ecommerce_tabs">
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									{% if kent %}
						{% for l in kent %}
						<img src="../media/{{ l.image }}" alt=" " height="190px;" width="200">
						{% endfor %}
						{% endif %}
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="{% url 'backend_panel:brands_detail' %}?id=7">Model 1</a></h5>

							</div>
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									{% if kent %}
						{% for l in kent %}
						<img src="../media/{{ l.image }}" alt=" " height="190px;" width="200">
						{% endfor %}
						{% endif %}
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="{% url 'backend_panel:brands_detail' %}?id=7">Model 2</a></h5>

							</div>
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									{% if kent %}
						{% for l in kent %}
						<img src="../media/{{ l.image }}" alt=" " height="190px;" width="200">
						{% endfor %}
						{% endif %}
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="{% url 'backend_panel:brands_detail' %}?id=7">Model 3</a></h5>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="tv" aria-labelledby="tv-tab">
						<div class="agile_ecommerce_tabs">
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									{% if blue %}
						{% for l in blue %}
						<img src="../media/{{ l.image }}" alt=" " height="190px;" width="200">
						{% endfor %}
						{% endif %}
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal3"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="{% url 'backend_panel:brands_detail' %}?id=6">Model 1</a></h5>

							</div>
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									{% if blue %}
						{% for l in blue %}
						<img src="../media/{{ l.image }}" alt=" " height="190px;" width="200">
						{% endfor %}
						{% endif %}
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal3"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="{% url 'backend_panel:brands_detail' %}?id=6">Model 2</a></h5>

							</div>
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									{% if blue %}
						{% for l in blue %}
						<img src="../media/{{ l.image }}" alt=" " height="190px;" width="200">
						{% endfor %}
						{% endif %}
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal3"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="{% url 'backend_panel:brands_detail' %}?id=6">Model 3</a></h5>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="kitchen" aria-labelledby="kitchen-tab">
						<div class="agile_ecommerce_tabs">
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									{% if livepure %}
						{% for l in livepure %}
						<img src="../media/{{ l.image }}" alt=" " height="190px;" width="200">
						{% endfor %}
						{% endif %}
									<div class="w3_hs_bottom">
										<hul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal4"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</hul>
									</div>
								</div>
								<h5><a href="{% url 'backend_panel:brands_detail' %}?id=9">Model 1</a></h5>

							</div>
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									{% if livepure %}
						{% for l in livepure %}
						<img src="../media/{{ l.image }}" alt=" " height="190px;" width="200">
						{% endfor %}
						{% endif %}
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal4"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="{% url 'backend_panel:brands_detail' %}?id=9">Model 2</a></h5>

							</div>
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									{% if livepure %}
						{% for l in livepure %}
						<img src="../media/{{ l.image }}" alt=" " height="190px;" width="200">
						{% endfor %}
						{% endif %}
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal4"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="{% url 'backend_panel:brands_detail' %}?id=9">Model 3</a></h5>

							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //banner-bottom -->
<!-- modal-video -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<section>
				<div class="modal-body">
					<div class="col-md-5 modal_body_left">
						<img src="/assets/images/aquagaurd_model.jpg" alt=" " class="img-responsive" />
					</div>
					<div class="col-md-7 modal_body_right" >
						<h4>Aquagaurd</h4>
						<p>The premium and classy range of water purifiers equipped with Universal, RO and UV technology works across all water sources. Patented with Mineral Guard and Biotron cartridge, the purifiers give you optimum health benefits and are priced between MRP ₹10190.00 to MRP ₹40,000.00.</p>
						<div class="rating">
							<div class="rating-left">
								<img src="/assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="/assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="/assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="/assets/images/star.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="/assets/images/star.png" alt=" " class="img-responsive" />
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="modal_body_right_cart simpleCart_shelfItem">
							<p><span></span> <i class="item_price"></i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="w3ls_item" value="Mobile Phone1">
								<input type="hidden" name="amount" value="350.00">

							</form>
						</div>
						<h5>Color</h5>
						<div class="color-quality">
							<ul>
								<li><a href="#"><span></span></a></li>
								<li><a href="#" class="brown"><span></span></a></li>
								<li><a href="#" class="purple"><span></span></a></li>
								<li><a href="#" class="gray"><span></span></a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</section>
		</div>
	</div>
</div>
<div class="modal video-modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<section>
				<div class="modal-body">
					<div class="col-md-5 modal_body_left">
						<img src="/assets/images/ao-smith_model.png" alt=" " class="img-responsive" />
					</div>
					<div class="col-md-7 modal_body_right">
						<h4>AO SMITH Water Purifier</h4>
						<p>100% of the water passes through the patented side-stream RO membrane and is further purified by UV technology. A. O. Smith's water purifier's 7-stage water purification promises the water you drink is enriched with essential minerals like calcium, magnesium, sodium etc. allowing everyone to enjoy healthy and clean drinking water. Depending on the source of water, A.O. Smith's water purifier retains natural essential minerals present in the water, during the filtration process.</p>
						<div class="modal_body_right_cart simpleCart_shelfItem">
							<p><span></span> <i class="item_price"></i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="w3ls_item" value="Headphones">
								<input type="hidden" name="amount" value="150.00">
							</form>
						</div>
						<div class="rating">
							<div class="rating-left">
								<img src="/assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="/assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="/assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="/assets/images/star.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="/assets/images/star.png" alt=" " class="img-responsive" />
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="color-quality">
							<ul>
								<li><a href="#"><span></span></a></li>
								<li><a href="#" class="brown"><span></span></a></li>
								<li><a href="#" class="purple"><span></span></a></li>
								<li><a href="#" class="gray"><span></span></a></li>
							</ul>
						</div>

					</div>
					<div class="clearfix"> </div>
				</div>
			</section>h
		</div>
	</div>
</div>
<div class="modal video-modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal2">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<section>
				<div class="modal-body">
					<div class="col-md-5 modal_body_left">
						<img src="/assets/images/kent_model.jpg" alt=" " class="img-responsive" />
					</div>
					<div class="col-md-7 modal_body_right">
						<h4>KENT Water Purifier </h4>
						<p>Kent water purifiers use double purification technology that uses RO and UV or UF in multiple stages of purification. Combination of different purification technologies lets you purify the water from different sources like groundwater/borewell, municipal tap water, tankers etc.It offers a complete range of water purifiers that are thoughtfully designed to complement the design of your modular kitchen. Whether you are looking for the table top, under the counter or wall mounted water purifiers, KENT offers it all.</p>
						<div class="rating">
							<div class="rating-left">
								<img src="/assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="/assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="/assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="/assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="/assets/images/star.png" alt=" " class="img-responsive" />
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="modal_body_right_cart simpleCart_shelfItem">

							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="w3ls_item" value="Laptop">
								<input type="hidden" name="amount" value="850.00">

							</form>
						</div>
						<h5>Color</h5>
						<div class="color-quality">
							<ul>
								<li><a href="#"><span></span></a></li>
								<li><a href="#" class="brown"><span></span></a></li>
								<li><a href="#" class="purple"><span></span></a></li>
								<li><a href="#" class="gray"><span></span></a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</section>
		</div>
	</div>
</div>
<div class="modal video-modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModal3">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<section>
				<div class="modal-body">
					<div class="col-md-5 modal_body_left">
						<img src="/assets/images/Blue_model.jpg" alt=" " class="img-responsive" />
					</div>
					<div class="col-md-7 modal_body_right">
						<h4>BLUE STAR Water Purifier </h4>
						<p>The Majesto series is being offered in RO as well as RO+UV. The Majesto RO+UV has a 6-stage purification process, a large 8-litres tank; Aqua Taste Booster (ATB) and copper-impregnated activated carbon which not only removes odour but also has anti-bacterial properties. It is sleek and stylish, and available in a variety of colours. Priced aggressively at `14,900 for the RO range and `17,900 for the RO+UV range, the Majesto with its high-quality filters and membranes offers great value for money.
						<div class="modal_body_right_cart simpleCart_shelfItem">

							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="w3ls_item" value="Mobile Phone1">
								<input type="hidden" name="amount" value="820.00">

							</form>
						</div>
						<div class="rating">
							<div class="rating-left">
								<img src="/assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="/assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="/assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="/assets/images/star.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="/assets/images/star.png" alt=" " class="img-responsive" />
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="color-quality">
							<ul>
								<li><a href="#"><span></span></a></li>
								<li><a href="#" class="brown"><span></span></a></li>
								<li><a href="#" class="purple"><span></span></a></li>
								<li><a href="#" class="gray"><span></span></a></li>
							</ul>
						</div>

					</div>
					<div class="clearfix"> </div>
				</div>
			</section>
		</div>
	</div>
</div>
<div class="modal video-modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModal4">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<section>
				<div class="modal-body">
					<div class="col-md-5 modal_body_left">
						<img src="/assets/images/livepure_model.jpg" alt=" " class="img-responsive" />
					</div>
					<div class="col-md-7 modal_body_right">
						<h4>LIVEPURE Water Purifier</h4>
						<p>Livpure now offers a complete range of water purifiers starting from the basic gravity based water purifiers to high-end multi-stage RO water purifiers with advanced features like touch control and Bluetooth.Good features, quality purification, great prices and reliable installation and service support are the main reasons why Livpure has become a trusted name in the water purifier market.</p>
						<div class="rating">
							<div class="rating-left">
								<img src="/assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="/assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="/assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="/assets/images/star.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="/assets/images/star.png" alt=" " class="img-responsive" />
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="modal_body_right_cart simpleCart_shelfItem">

							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="w3ls_item" value="Mobile Phone1">
								<input type="hidden" name="amount" value="450.00">

							</form>
						</div>
						<h5>Color</h5>
						<div class="color-quality">
							<ul>
								<li><a href="#"><span></span></a></li>
								<li><a href="#" class="brown"><span></span></a></li>
								<li><a href="#" class="purple"><span></span></a></li>
								<li><a href="#" class="gray"><span></span></a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</section>
		</div>
	</div>
</div>
<div class="modal video-modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModal5">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<section>
				<div class="modal-body">
					<div class="col-md-5 modal_body_left">
						<img src="/assets/images/36.jpg" alt=" " class="img-responsive" />
					</div>
					<div class="col-md-7 modal_body_right">
						<h4>Dry Vacuum Cleaner</h4>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
							commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
							cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

						<div class="modal_body_right_cart simpleCart_shelfItem">
							<p><span>$960</span> <i class="item_price">$920</i></p>

						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</section>
		</div>
	</div>
</div>
<div class="modal video-modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModal6">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<section>
				<div class="modal-body">
					<div class="col-md-5 modal_body_left">
						<img src="/assets/images/37.jpg" alt=" " class="img-responsive" />
					</div>
					<div class="col-md-7 modal_body_right">
						<h4>Kitchen & Dining Accessories</h4>
						<p>Ut enim ad minim veniam, quis nostrud
							exercitation ullamco laboris nisi ut aliquip ex ea
							commodo consequat.Duis aute irure dolor in
							reprehenderit in voluptate velit esse cillum dolore
							eu fugiat nulla pariatur. Excepteur sint occaecat
							cupidatat non proident, sunt in culpa qui officia
							deserunt mollit anim id est laborum.</p>
						<div class="rating">
							<div class="rating-left">
								<img src="/assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="/assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="/assets/images/star-.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="/assets/images/star.png" alt=" " class="img-responsive" />
							</div>
							<div class="rating-left">
								<img src="/assets/images/star.png" alt=" " class="img-responsive" />
							</div>
							<div class="clearfix"> </div>
						</div>
						<!-- footer -->
						<div class="modal_body_right_cart simpleCart_shelfItem">
							<p><span>$280</span> <i class="item_price">$250</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="w3ls_item" value="Induction Stove">
								<input type="hidden" name="amount" value="250.00">
								<button type="submit" class="w3ls-cart">Add to cart</button>
							</form>
						</div>
						<h5>Color</h5>
						<div class="color-quality">
							<ul>
								<li><a href="#"><span></span></a></li>
								<li><a href="#" class="brown"><span></span></a></li>
								<li><a href="#" class="purple"><span></span></a></li>
								<li><a href="#" class="gray"><span></span></a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</section>
		</div>
	</div>
</div>
<!-- //modal-video -->
<!-- banner-bottom1 -->
<div class="banner-bottom1">
	<div class="agileinfo_banner_bottom1_grids">
		<div class="col-md-7 agileinfo_banner_bottom1_grid_left">
			<h3>Membrane Top Quality<span>50% <i>Discount</i></span></h3>
			<a href="products.html">Call Now</a>
		</div>
		<div class="col-md-5 agileinfo_banner_bottom1_grid_right">
			<h4>hot deal</h4>
			<div class="timer_wrap">
				<div id="counter"> </div>
			</div>
			<script src="/assets/js/jquery.countdown.js"></script>
			<script src="/assets/js/script.js"></script>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //banner-bottom1 -->

<!-- new-products -->
<div class="new-products">
	<div class="container">
		<h3>New Models</h3>
		<div class="agileinfo_new_products_grids">
			<div class="col-md-3 agileinfo_new_products_grid">
				<div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
					<div class="hs-wrapper hs-wrapper1">
						{% if slide %}
						{% for i in slide %}
						<img src="../media/{{ i.image }}" alt=" " height="340" width="255">
						{% endfor %}
						{% endif %}

					</div>
					<h5><a href="{% url 'backend_panel:brands_detail' %}?id=5">Aquagaurd</a></h5>
					<div class="simpleCart_shelfItem">


					</div>
				</div>
			</div>
			<div class="col-md-3 agileinfo_new_products_grid">
				<div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
					<div class="hs-wrapper hs-wrapper1">
						{% if smith %}
						{% for j in smith %}
						<img src="../media/{{ j.image }}" alt=" " height="340" width="255">
						{% endfor %}
						{% endif %}

					</div>
					<h5><a href="{% url 'backend_panel:brands_detail' %}?id=4">Ao smith</a></h5>
					<div class="simpleCart_shelfItem">


					</div>
				</div>
			</div>
			<div class="col-md-3 agileinfo_new_products_grid">
				<div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
					<div class="hs-wrapper hs-wrapper1">
						{% if kent %}
						{% for k in kent %}
						<img src="../media/{{ k.image }}" alt=" " height="340" width="255">
						{% endfor %}
						{% endif %}

					</div>
					<h5><a href="{% url 'backend_panel:brands_detail' %}?id=7">Kent</a></h5>
					<div class="simpleCart_shelfItem">


					</div>
				</div>
			</div>
			<div class="col-md-3 agileinfo_new_products_grid">
				<div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
					<div class="hs-wrapper hs-wrapper1">
						{% if livepure %}
						{% for l in livepure %}
						<img src="../media/{{ l.image }}" alt=" " height="340" width="255">
						{% endfor %}
						{% endif %}

					</div>
					<h5><a href="{% url 'backend_panel:brands_detail' %}?id=9">Livepure</a></h5>
					<div class="simpleCart_shelfItem">


					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //new-products -->
<!-- top-brands -->
<div class="top-brands">
	<div class="container">
		<h3>Top Brands</h3>
		<div class="sliderfig">
			<ul id="flexiselDemo1">
				{% for i in top_data %}
				<li>
					<img src="../media/{{ i.image }}" alt=" " class="img-responsive" />
				</li>
				{% endfor %}

			</ul>
		</div>
		<script type="text/javascript">
					$(window).load(function() {
						$("#flexiselDemo1").flexisel({
							visibleItems: 4,
							animationSpeed: 1000,
							autoPlay: true,
							autoPlaySpeed: 3000,
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
							responsiveBreakpoints: {
								portrait: {
									changePoint:480,
									visibleItems: 1
								},
								landscape: {
									changePoint:640,
									visibleItems:2
								},
								tablet: {
									changePoint:768,
									visibleItems: 3
								}
							}
						});

					});
			</script>
		<script type="text/javascript" src="/assets/js/jquery.flexisel.js"></script>
	</div>
</div>
<!-- //top-brands -->
<!-- //banner -->
{% endblock %}
