{% extends 'masterPage.html' %}
{% block title %}
{% if m_data %}
{{ m_data.name }}
{% endif %}
{% endblock %}
{% block content %}
<div class="piche" style="height:100%">
    {% if  m_data %}
    <div class="col-sm-12 h1 text-center" style="background-color:rgba(225,40,50,1); height:80px; margin-top:0px; color:white; margin-bottom:30px;padding-top:18px;"><h1>{{ m_data.name }}</h1></div>
    <div style="padding-bottom:40px;">
        <img  src="../media/{{ m_data.image }}" alt="/" style="height:250px; width:250px; float:left; margin-left:100px; margin-right:100px;">
        <p style="font-weight:bold; padding-top:135px; font-size:25px;">{{ m_data.name }}</p>
        <p style="padding-top:20px; color:blue; font-weight:bold; font-size:16px;">Price: {{ m_data.price }}</p>
        {% if d_data %}
        <div style="width:100%; margin-left:450px; "><p style="padding-top:15px; color:black; font-size:18px; font-weight:bold; ">Desc:</p>
            {% for i in d_data %}
            #  {{ i.description }}
            <p> </p>
            {% endfor %}
            {% endif %}
            {% if f_data %}
        </div>
        <div style="width:1100px;"><p style=" padding-bottom:20px;padding-top:10px; color:blue; padding-left:120px; font-size:20px; font-weight:bold;">Feature:</p>
                {% for i in f_data %}
               <div style="padding-left:120px;padding-bottom:13px;"><span style="padding-bottom:0px;">  #  </span><span style="padding-left:10px;"> {{ i.features }}</span>
                <p>  </p>
                </div>
                {% endfor %}
                {% endif %}
        </div>

    </div>
    {% endif %}
</div>
{% endblock %}