{% extends 'masterPage.html' %}
{% block title %}
Update Password
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 h1 text-center">
            <span>Update Password </span>
        </div>
        <div class="col-sm-offset-3 col-sm-6">
            <form method="post">
                {% csrf_token %}
                 <div class="form-group">
                     <label>NEW PASSWORD</label>
                    <input type="password" class="form-control" name="new_pass" placeholder="NEW PASSWORD">
                </div>
                <div class="form-group">
                     <label>CONFIRM PASSWORD</label>
                    <input type="password" class="form-control" name="con_pass" placeholder="CONFIRM PASSWORD">
                </div>
                <div>
                    <input type="submit" value="update password" class="btn btn-primary btn-block">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}